.botao {
    background-color: #6278F7;
    border-radius: 10px;
    padding: 32px;
    margin: 32px 0px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
}

.botao:hover {
    color: #95FFD4;
}